

h1{
    font-size: 5.625rem;
    color:#66BFBF;
    margin: 50px auto 0 auto;
    font-family: 'Sacramento',cursive;
 

}
.ilms-body{
    background-color:#dbf6e9;
}

.my-card{
    margin:100px auto 100px auto;
    max-width: '30rem';

}
.bottom-container{
    margin-top:100px;
    margin-bottom:0;
    background-color:#66BFBF;
   
   
}
h2{
    color:#66BFBF;
    font-weight: normal;
    font-size: 2.5rem;
    font-family: 'Montserrat',sans-serif;

}
.copyright{
    color:#EAF6F6;
    font-size:0.75rem;
    padding: 20px 0;
}
h3{
    color:#11999E;
    font-family: 'Montserrat',sans-serif;
    font-size: 25px;
    

}
a{
    color: #11999E;
    font-family: 'Montserrat',sans-serif;
    font-size:20px;
    text-decoration:none;
    
}
.footer-link{
    top:10px;
    position:relative;
}
a:hover{
    color:#66BFBF;
}
.navbar{
    
    padding: 0 0 2.5rem;
    color:#66BFBF;
    
}
.prev-button{
    position: absolute;
    left:5px;
    top:10px;
   
    
}
.next-button{
    position: absolute;
    right:5px;
    top:10px;

}
.navbar-brand{
    font-family: "Ubuntu";
    font-size: 2rem;
    margin-left: 10px;
    font-weight: bold;
    
}
/* .container{
    margin-top:8%;
    margin-left:8%;

} */
.card:hover{
    -webkit-box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);
    box-shadow:-1px 9px 40px -12px rgba(0,0,0,0,0.75);
}

.navbar-brand:hover,.nav-link:hover{
    color:#02475e;
}
.nav-item{
    padding: 0 18px;
}
.nav-link{
    font-size: 1.2rem;
    font-family: 'Montserrat-Light';
}
.top-container{
    padding-top: 0px;
    position: relative;
    background-color: #caf7e3;
    
   
}
.heading{
    padding-top:20px;
}
.about{

    font-family: 'Merriweather',serif;
    font-size:15px;
  
   padding-top:20px;
  

}
.about-pic{
    padding-top:20px;
    

}
.html{
    height:200px;
    width:300px;
    position: absolute;
    left:180px;

}
.ml{
    padding:0px;
}
.pro{
    text-decoration:underline;

}
.py-pic{
    position: absolute;
    left:330px;
    top:1080px;
    width:100px;
   
}
.java-pic{
    position: absolute;
    left:330px;
    top:1260px;
    width:100px;
    
    height:130px;
  
  

  
}
.react-pic{
  
    position:absolute;
    right:310px;
    top:1100px;
    width:100px;
}
.mysql-pic{
    position:absolute;
    right:280px;
    top:1250px;
    width:150px;
    height:150px;
   
}

hr{
    border:dotted #66BFBF 6px;
    border-bottom: none;
    width:4%;
    margin:50px auto 50px auto;

}
.programmer-pic{
    background-color: #caf7e3;
    width:150x;
    height: 400px;
    border-radius: 50%;
  
}
.edu-body{
  
    background-color:#dbf6e9;
}

.project-col{
    margin:18px 50px ;
}
.h2-edu{
    margin:0 auto 0 auto;
    padding-top:0px;
    position: relative;
    top:40px;
    font-size:35px;
    font-weight: bold;

    
}
.project-row{
    padding-top:30px;
    

}

.education-row{
   
    padding-top:100px;
    width:50%;
    margin:0 auto 0 auto;
   }
.education-logo{
    position:absolute;
    top:15px;
    left:15px;
}
 .about-logo{
    position:absolute;
    top:25px;
    left:25px;
    color:#02475e;
} 

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }
p{
    margin-bottom:0;
}
.skill-row{
    width:100%;
    margin:0 auto 0 auto;
   
    
}
.pi{
    position:absolute;
    top:25px;
    right:25px;
}
.pi-next{
    position: relative;
    top:25px;
    left:25px;
}
.Inter{
    border-radius: 50%;
    width:200px;
    height:200px;
    float:right;

}
.BTech{
    border-radius: 50%;
    width:200px;
    height:200px;
    float:left;

}
.PG{
    border-radius: 50%;
    width:200px;
    height:200px;
    float:right;


}
.data1{
    text-align:left;
    position:relative;
    left:20px;
}
.data{
    text-align:left;
    position:relative;
    left:20px;
}
.SSC{
    border-radius: 50%;
    width:200px;
    height:200px;
    float:left;
    
}
td{
    font-family: 'Merriweather',serif;
    font-size: 20px;
}
table{
   margin:0 auto 0 auto;

}
.top-cloud{
    position: absolute;
    right:300px;
    top:140px;
}
.bottom-cloud{
    position: absolute;
    left:300px;
    bottom: 300px;
    
}
.project-h3{
    text-align: center;
    font-size: 25px;
    color:#11999E;
    font-size: 20px;
    
    
}
.project-h2{
    text-align: center;
    font-family: "Ubuntu";
   
    color:#11999E;
   
   
  
}
.project-h5{
    font-size:15px;
}

.project{
  
    background-color: #dbf6e9;
    text-align:justify;
}
.project-col{
    padding:3% 2%;
}
.project p{
    font-size:13px;
    text-align: justify;
    word-spacing: 0px;

}
.index-btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat',sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .index-btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }